/*重置ele样式*/
.el-breadcrumb {
    padding: 24px 24px 12px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.dialog-footer {
    text-align: right;
    display: block;
}
.button-center {
    margin: 0 auto;
    display: block;
}
.el-table th {background-color: #eef1f6!important;}

.avatar-uploader .el-upload {
    border: 1px dashed #dcdfe6;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .2s;
    width: 178px;
    height: 178px;
}

.avatar-uploader .el-upload:hover {
    border-color: rgb(64, 158, 255);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}